extends layout

block content
    div.ml-5.mb-5.mr-5.mt-5
        h1(class="text-primary")='Add a new country in the section "Population"'
        form(action="",method="post")
            .form-group.row
                label Country
                    input.form-control(name="country")
            .form-group.row
                label GDP per habitant (in dollars)
                    input.form-control(name="gdpPerHab")
            .form-group.row
                label Rank
                    input.form-control(name="rank")
            .form-group.row
                button.btn-primary Add