extends layout

block content
    div.ml-5.mb-5.mt-5
      h1(class="text-primary")= title
      p Click on the links above to see some statistics about the economy and the demography of countries around the world.
      img(src="images/earth.gif")
