doctype html
html
  head
    title= 'Countries statistics'
    link(rel="stylesheet",href="/stylesheets/style.css")
  body
    a(href='/') Home - Countries statistics
    br
    a(href='/gdp') TOP 10 of countries by G.D.P
    br
    a(href='/population') TOP 10 of countries by Population
    br
    a(href='/gdpperhab') TOP 10 of countries by G.D.P per habitant
    block content
