extends layout

block content
    h1='TOP 10 of countries by population in 2017'
    ul
        each country in countries
            li=country.rank + '. ' + country.country + ' : ' + country.population + ' millions of habitants'